@model DoctorApp.Models.Holiday

@{
    ViewBag.Title = "EditHoliday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Holiday</h4>
        </div>
    </div>
    @Html.HiddenFor(x => x.HolidayID, new { id = "hdnID" })
    <div class="row">
        <div class=" col-lg-8 offset-lg-2">
            <div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Holiday Name  <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.HolidayName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Start Date <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>End Date<span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button type="button" class="btn btn-primary submit-btn" onclick="Edit()" style=" padding-top: 7px; font-size: 15px;">Save Holiday</button>
                    @*<button type="button" class="btn btn-primary submit-btn" onclick="Edit()" style=" padding-top: 7px; font-size: 15px;">Save Holiday</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function readURL(input, hiddenInputId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                // Set the base64 string or data URL to the hidden input field
                document.getElementById(hiddenInputId).value = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Function to handle image upload
    function Edit() {
        
        debugger;
        /*var imgFiles = $("#PatientImage")[0];*/
        var currentDate = new Date().toISOString();
        var id = $('#hdnID').val();
        var formData = new FormData();

        if (id > 0) {
            formData.append('HolidayID', id);
            formData.append('HolidayName', $('#HolidayName').val());
            formData.append('StartDate', $('#StartDate').val());
            formData.append('EndDate', $('#EndDate').val());
            formData.append('CreatedBy', 'Husnain Memon');
            formData.append('CreatedDate', currentDate);
            formData.append('ModifyBy', 'Husnain Memon');
            formData.append('ModifyDate', currentDate);


        }

        else {
            formData.append('HolidayID', id);
            formData.append('HolidayName', $('#HolidayName').val());
            formData.append('StartDate', $('#StartDate').val());
            formData.append('EndDate', $('#EndDate').val());
            formData.append('CreatedBy', 'Husnain Memon');
            formData.append('CreatedDate', currentDate);

        }

        $.ajax({
            url: "/Holiday/EditHoliday",
            dataType: "json", // Lowercase "json"
            type: "POST",
            contentType: false, // Set contentType to false
            processData: false, // Set processData to false
            data: formData,
            success: function (response) {
                debugger;
                if (response == 1) { // Assuming your response has a status field
                    notifySuccess("Data Added Successfully");

                    $('#exampleModal').find('.close').click();
                    Bind();


                    //window.location.href = '/Admin/DisplayTeacher';
                } else {
                    notifyDanger("Data Not Added");
                }
            },
            error: function (xhr, status, error) {
                debugger
                console.error("Error:", xhr.responseText);
            }
        });

    }
</script>