@model DoctorApp.Models.EductionViewModel

<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Add Profile</h4>
        </div>
    </div>
    <form>


        <div class="card-box">
            <h3 class="card-title">Education Informations</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Institution</label>
                        <input ID="txtIns" ClientIDMode="Static" class="form-control" placeholder="Institution" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Degree</label>
                        <input ID="txtDegree" ClientIDMode="Static" class="form-control" placeholder="Degree" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Starting Date</label>
                        <div class="cal-icon">
                            <input ID="txtStartDate" ClientIDMode="Static" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Complete Date</label>
                        <div class="cal-icon">
                            <input ID="txtComDate" ClientIDMode="Static" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                        </div>
                    </div>
                </div>


            </div>
            @*<div class="add-more">
                    <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i>Add More Institute</a>
                </div>*@
        </div>
        <div class="card-box">
            <h3 class="card-title">Experience Informations</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input ID="txtCompany" ClientIDMode="Static" class="form-control" placeholder="Company Name" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Job Position</label>
                        <input ID="txtPos" ClientIDMode="Static" class="form-control" placeholder="Job Position" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Period From</label>
                        <div class="cal-icon">
                            <input ID="txtPeriod" ClientIDMode="Static" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="focus-label">Period To</label>
                        <div class="cal-icon">
                            <input ID="txtPerTo" ClientIDMode="Static" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="add-more">
                    <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i>Add More Experience</a>
                </div>*@
        </div>
        <div class="text-center m-t-20">
            @*<button type="button" class="btn btn-primary submit-btn" id="btnSave" onclick="Save()">Save Education</button>*@
            <button class="btn btn-primary submit-btn" onclick="Add()" style=" padding-top: 7px; font-size: 12px;">Save Education</button>
        </div>
    </form>
</div>


<script>
    function Add() {
        debugger;

        formData.append('InstitutionName', $('#txtIns').val());
        formData.append('Degree', $('#txtDegree').val());
        formData.append('StartingDate', $('#txtStartDate').val());
        formData.append('CompleteDate', $('#txtComDate').val());


        formData.append('CompanyName', $('#txtCompany').val());
        formData.append('Position', $('#txtPos').val());
        formData.append('PeriodFrom', $('#txtPeriod').val());
        formData.append('PeriodTo', $('#txtPerTo').val());


        $.ajax({
            url: "/Doctor/AddEducation",
            dataType: "json", // Lowercase "json"
            type: "POST",
            contentType: false, // Set contentType to false
            processData: false, // Set processData to false
            data: formData,
            success: function (response) {
                debugger;
                if (response.data == 1) { // Assuming your response has a status field
                    notifySuccess("Data Added Successfully");

                    $('#exampleModal').find('.close').click();
                    Bind();


                    //window.location.href = '/Admin/DisplayTeacher';
                } else {
                    notifyDanger("Data Not Added");
                }
            },
            error: function (xhr, status, error) {
                debugger
                console.error("Error:", xhr.responseText);
            }
        });

    }





</script>