@model DoctorApp.Models.EductionViewModel

<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Add Profile</h4>
        </div>
    </div>
    <input type="hidden" id="hdnID" value="@Convert.ToInt32(Request.QueryString["doctorId"])" />
    <div class="card-box">
        <h3 class="card-title">Education Information</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Institution</label>
                    <input id="txtIns" class="form-control" placeholder="Institution" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Degree</label>
                    <input id="txtDegree" class="form-control" placeholder="Degree" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Starting Date</label>
                    <div class="cal-icon">
                        <input id="txtStartDate" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Complete Date</label>
                    <div class="cal-icon">
                        <input id="txtComDate" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-box">
        <h3 class="card-title">Experience Information</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Company Name</label>
                    <input id="txtCompany" class="form-control" placeholder="Company Name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Job Position</label>
                    <input id="txtPos" class="form-control" placeholder="Job Position" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Period From</label>
                    <div class="cal-icon">
                        <input id="txtPeriod" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="focus-label">Period To</label>
                    <div class="cal-icon">
                        <input id="txtPerTo" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center m-t-20">
        <button class="btn btn-primary submit-btn" onclick="Add()" style="padding-top: 7px; font-size: 12px;">Save Education</button>
    </div>
</div>
<script>
    function Add() {
        const formData = new FormData();

        formData.append('InstitutionName', $('#txtIns').val());
        formData.append('Degree', $('#txtDegree').val());
        formData.append('StartingDate', $('#txtStartDate').val());
        formData.append('CompleteDate', $('#txtComDate').val());
        formData.append('CompanyName', $('#txtCompany').val());
        formData.append('Position', $('#txtPos').val());
        formData.append('PeriodFrom', $('#txtPeriod').val());
        formData.append('PeriodTo', $('#txtPerTo').val());
        formData.append('DoctorID', $('#hdnID').val());

        $.ajax({
            url: "/Doctor/AddEducation",
            dataType: "json",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                if (response.data === 1) {
                    notifySuccess("Data Added Successfully");
                    $('#exampleModal').find('.close').click();
                    Bind();
                } else {
                    notifyDanger("Data Not Added");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", xhr.responseText);
            }
        });
    }
</script>
