@model DoctorApp.Models.AttendanceViewModel

@{
    ViewBag.Title = "AddAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Attendance </h4>
        </div>
    </div>
        <div class="col-lg-8 offset-lg-2">
            <div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Employee Name</label>
                            <select name="ddlEmp" id="ddlEmp" class="form-control">
                                <option value="">Select Employee Name</option>
                                @if (ViewBag.employeenames != null)
                                {
                                    foreach (var sn in ViewBag.employeenames)
                                    {
                                        <option value="@sn.EmployeeID">@sn.FirstName @sn.LastName</option>
                                    }
                                }
                            </select>                           
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date</label>
                            <div>
                                <input ID="txtDate" ClientIDMode="Static" type="date" class="form-control" placeholder="YYYY-MM-DD" />
                            </div>
                        </div>
                    </div>


                </div>
                              
                <div class="form-group">
                    <label class="display-block">Attendance Status</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_present" value="Present" checked>
                        <label class="form-check-label" for="status_present">
                            Present
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_absent" value="Absent">
                        <label class="form-check-label" for="status_absent">
                            Absent
                        </label>
                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button type="button" class="btn btn-primary submit-btn" onclick="Add()" style=" padding-top: 7px; font-size: 12px;">Save Attendance</button>
                </div>
            </div>
        </div>
    </div>



<script>
    function Add() {
        if (!ValidateTimeTable()) {
            return false;
        }        
        var currentDate = new Date().toISOString();
        var id = $('#hdnID').val();
        var formData = new FormData();
        if (id > 0) {
            formData.append('EmployeeID', $('#ddlEmp').val());
            formData.append('DOB', $('#txtDate').val());
            formData.append('ModifyBy', 'Husnain Memon');
            formData.append('ModifyDate', currentDate);
            formData.append('Status', $('input[name="status"]:checked').val());

        }

        else {

            formData.append('EmployeeID', $('#ddlEmp').val());
            formData.append('DOB', $('#txtDate').val());
            formData.append('CreatedBy', 'Husnain Memon');
            formData.append('CreatedDate', currentDate);
            formData.append('Status', $('input[name="status"]:checked').val());
        }

        $.ajax({
            url: "/Attendance/AddAttendance",
            dataType: "json", // Lowercase "json"
            type: "POST",
            contentType: false, // Set contentType to false
            processData: false, // Set processData to false
            data: formData,
            success: function (response) {
                if (response.success == true) { // Assuming your response has a status field
                    notifySuccess('<span style="font-size: 10px; font-weight:bold;">' + response.message + '</span>');

                    $('#exampleModal').find('.close').click();
                    Bind();


                    //window.location.href = '/Admin/DisplayTeacher';
                } else {
                    notifyDanger('<span style="font-size: 12px; font-weight:bold;">' + response.message + '</span>');
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", xhr.responseText);
            }
        });
    }


    function notifyDanger(message) {
        $('#notificationElement').html(message).addClass('large-text').show();
        // Add your existing code to display the message
    }


    function ValidateTimeTable() {
        if ($('#ddlEmp').val() == '') {
            $("html, body").animate({
                scrollTop: 500
            }, 1500);
            $('#ddlEmp').focus();
            notifyDanger('<span style="font-size: 15px; font-weight: bold;">Employee Name is Required !</span>');
            return false;
        }
        else if ($('#txtDate').val() == '') {
            $("html, body").animate({
                scrollTop: 500
            }, 1500);
            $('#txtDate').focus();
            notifyDanger('<span style="font-size: 15px; font-weight: bold;">Date is Required !</span>');
            return false;
        }

        else if ($('#input[name="status"]:checked').val() == '') {
            $("html, body").animate({
                scrollTop: 500
            }, 1500);
            $('#input[name="status"]:checked').focus();
            notifyDanger('<span style="font-size: 15px; font-weight: bold;">Status is Required !</span>');
            return false;
        }
        return true;
    }
</script>
