@model DoctorApp.Models.AttendanceViewModel

@{
    ViewBag.Title = "EditAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add Attendance </h4>
        </div>
    </div>
    @Html.HiddenFor(x => x.AttendanceID, new { id = "hdnID" })
   
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Employee Name</label>
                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date</label>
                            <div>
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>


                </div>

                <div class="form-group">
                    <label class="display-block">Attendance Status</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_present" value="Present" checked>
                        <label class="form-check-label" for="status_present">
                            Present
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status_absent" value="Absent">
                        <label class="form-check-label" for="status_absent">
                            Absent
                        </label>
                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button type="button" class="btn btn-primary submit-btn" onclick="Edit()" style=" padding-top: 7px; font-size: 12px;">Save Attendance</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function Edit() {
        debugger;
        var currentDate = new Date().toISOString();
        var id = $('#hdnID').val();
        var formData = new FormData();

        var h1 = 'Husnain Memon';
        if (id > 0) {
            formData.append('EmployeeID', $('#ddlEmp').val());
            formData.append('DOB', $('#DOB').val());
            formData.append('ModifyBy', h1);
            formData.append('ModifyDate', currentDate);
            formData.append('Status', $('input[name="status"]:checked').val());

        }

        else {

            formData.append('EmployeeID', $('#ddlEmp').val());
            formData.append('DOB', $('#DOB').val());
            formData.append('CreatedBy', h1);
            formData.append('CreatedDate', currentDate);
            formData.append('Status', $('input[name="status"]:checked').val());
        }

        $.ajax({
            url: "/Attendance/EditAttendance",
            dataType: "json", // Lowercase "json"
            type: "POST",
            contentType: false, // Set contentType to false
            processData: false, // Set processData to false
            data: formData,
            success: function (response) {
                debugger;
                if (response == 1) { // Assuming your response has a status field
                    notifySuccess("Data update Successfully");

                    $('#exampleModal').find('.close').click();
                    Bind();


                    //window.location.href = '/Admin/DisplayTeacher';
                } else {
                    notifyDanger("Data Not Added");
                }
            },
            error: function (xhr, status, error) {
                debugger
                console.error("Error:", xhr.responseText);
            }
        });

    }
</script>